

  <nav class="navbar navbar-expand-lg sticky-top navbar-light" id="navbar">
    <a class="navbar-brand colored-nav" href="/home"><img style="height:50px;"src="images/One-news.png"></a>
    <a  class="navbar-brand hidden-nav" href="/home"><img style="height:50px;"src="images/One-news-white.png"></a>
   
    <form  id="form-container"class="form-inline ml-auto mx-auto" id="search-form" action='/home' method='POST'>
    
    <input class="form-control mr-sm-2" type='text' name='search' placeholder="search my history">
    
    <button class="btn btn-outline-success "type='submit' >Search</button>
    </form>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-1 text-center" id="navbarSupportedContent" id="myNavbar">
    <ul class=" nav navbar-nav ml-auto flex-nowrap">
     <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
     <li class="nav-item"><a class="nav-link" href="/favorites">Favorites</a></li>
     <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
     <li class="nav-item" ><a class="nav-link" href="/logout"  >Logout</a></li>
  </ul>
  </div>
   <form  id="form-container-mobile"class="form-inline ml-auto mx-auto" id="search-form" action='/home' method='POST'>
    
    <input class="form-control mr-sm-2" type='text' name='search' placeholder="search my history">
    
    <button class="btn btn-outline-success "type='submit'>Search</button>
    </form>
  </nav>
<h1>Admin Panel</h1>


<h1 id="admin-title">Users</h1>
<div id="admin-users">
{{#each users}}
{{> usersCard this}}
{{/each}}
</div>

{{!-- {{queries}} --}}
<h1 id="admin-title">Queries</h1>
{{!-- <div id="admin-queries">
{{#each queries}}
{{> queriesCard this}}
{{/each}}
</div> --}}

<table id="query-table" style="width:100%">
  <tr>
    <th>Count</th>
    <th>Query</th>
  </tr>
  {{#each queries}}
{{> queriesCard this}}
{{/each}}
</table>


<h1 id="admin-title">Favorites</h1>
<div id="admin-favorites">
{{#each favorites}}
{{> adminFavoriteCard this}}
{{/each}}
</div>