<h1>Main page</h1>
<a href="/profile">Profile</a>
<div><img src="https://media1.giphy.com/media/d10dMmzqCYqQ0/giphy.gif" alt=""></div>
<a href="./two">go to private</a>

  <a href="/logout">
    <button style="background: red;">Logout</button>
  </a>
  