<header>
  <nav>
    <li><a href="/home">Home</a></li>
    <li><a  href="/favorites">Favorites</a></li>
    <li><a href="/profile">Profile</a></li>
     <li>Logout</li>
  </nav>
</header>
<body>
  <h1>results for {{query}}</h1>
  
 <h1 class="layout-title">World news</h1>
<a href="/profile">Profile</a>

  <a href="/logout">
    <button style="background: red;">Logout</button>
  </a>

  <form id="search-form" action='/home' method='POST'>
  
  <label for=''>What do you want??</label>
  <input type='text' name='search'>
  
  <button type='submit'>Submit</button>
  </form>

<div>
  {{!-- <h1>{{articles.0.title}}</h1>
   --}}
{{#each articles}}
{{> articleCard this}}
{{/each}}
</div>
</body>
