<div class="title">
<p>Welcome to the world news app</p>
</div>

<div id="container">
  <a href="/signup">
    <button>Sign up</button>
  </a>

  <a href="/login">
    <button>Login</button>
  </a>
  
</div>
