<div class="title">
<p>Welcome to the world news app</p>
</div>

<div id="container">
  <a href="/signup">
    <button>Sign up</button>
  </a>

  <a href="/login">
    <button>Login</button>
  </a>


  <a href="/logout">
    <button style="background: rgba(150, 78, 78, 0.644);">Logout</button>
  </a>
  
  
  <a href="/secret/one">
    <button>Protected page (requires authentication!)</button>
  </a>
</div>
