

<div id="container" class="height-container">


  <img id="home-logo" src="images/One-news.png">
 
 <p>Welcome to One News</p>
  <a href="/signup">
    <button>Sign up</button>
  </a>

  <a href="/login">
    <button>Login</button>
  </a>
  
</div>
