<h1>private page</h1>
<div><img src="https://media1.giphy.com/media/55SfA4BxofRBe/giphy.gif" alt=""></div>
<a href="../">back</a>

  <a href="/logout">
    <button style="background: red;">Logout</button>
  </a>
  