<h1>profile</h1>
<a href="/home">Home</a>
<h2>hey {{{user.username}}}</h2>
<button id="edit-interests">Edit interests</button>
{{!-- <button id="clear-history">Clear history</button> --}}
<form method='POST'>
  <button id="clear-history" type='submit'>Clear history</button>
</form>

