body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  height:20vh;
  background-color:cornflowerblue;
}

nav li {
  display: flex;
  flex-direction: row;
}