body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color:#fff;
  
}

a {
  color: #212121;
  text-decoration: none;
  cursor:pointer;
}

h1 {
  font-size:1rem;
}

h2 {
  font-size:0.7rem;
}
/* public/stylesheet/style.css */
#form {
  margin: 30px;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 10px;
  
  margin-bottom: 20px;
  border: 2px solid black;
}

button {
  background: transparent;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  /* display: inline-block; */
  font-size: 14px;
  /* padding: 8px 10px; */
  text-decoration: none;
  transition: .3s ease background;
  text-align: center;
}

button:hover {
  background: #fff;
  color: #7e858a;
  transition: .3s ease background;
  cursor: pointer;
}

button:focus{
  outline: none;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 50%;
}
 #container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: row;
}

.containers{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  background-image:url("../images/One-news.png");
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  color:white;
  background-color:rgb(81, 108, 148);
}

a #container , p #container{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:10px auto;
  color:black;
}


.add-to-favorite-hidden {
  display:none;
}


.hidden-nav {
  display:none;
}

.title{
  width: 50%;
  margin: 0 25% auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items:center;
  flex-direction: column;
}

.login-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    background-color:rgba(227, 228, 230, 0.379);
    padding:45px;
  }

  .login-form input {
    text-align:center;
  }

  .login-form label{
    margin:10px;
    color:white;
  }

  .login-form button{
    margin: 15px;
    color:white;
   border:1px solid white;
   cursor:pointer;
  }

  .login-form button:hover {
      color:black;
  }
 

  .login-title{
    margin: 20px auto;
    text-align: center;
  }
  .signup-form{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
    text-align: center;
  }
  .signup-title{
    margin: 20px auto;
    text-align: center;
  }
  .layout-title{
    width:100%;
    text-align: center;
  }

  nav {
    padding-top:10px;
   margin-bottom:15px;
   background-color:white;
  }

  .navbar {
    padding:1rem;
  }

#profile-page {
  text-align:center;
  margin:0 auto;
  display:flex;
  
  justify-content: center;
  flex-direction: column;
}

#profile-lines {
  display:block;
   margin-top:-50px;
   color:white;
  
}

  /* nav {
    height:15vh;
    background-color:cornflowerblue;
    display: flex;
    align-items: center;
    padding-right:45px;
    justify-content: flex-end;
    position:fixed;
    top:0;
    width:100%;
  }
  
  nav li {
    display: flex;
    flex-direction: row;
    display: inline;
    padding:0px 12px 0px 12px;
  } */

 #logo {
    justify-content: flex-start;
    display:flex;
    padding-left:40px;
  }

  #form-container {
    margin:0 auto;
   width:40%;
   justify-content:center;
   
    /* display: flex;
    justify-content: center;
    margin:40px 80px; */
  }
.form-inline{
  flex-flow:row nowrap;
}

  #search-form {
    display: flex;
    justify-content: center;
    flex-direction:row;
    width:95%;
    text-align:left;
    margin:10px auto;
  }

  #search-form label {
    width:100%;
    align-items: center;
    display: flex;
    text-align:center;
  }

  #search-form input {
    width:100vw;
    margin: 0px 20px 0px 20px;
  }

  .article-img {
    display:flex;
    flex-flow: row;
    justify-content: flex-start;
   float:left;
    max-height:460px;
    min-height:150px;
    max-width:260px;
    min-width:100px;
  }

  #article-img {
    width:100%;
    max-height:140px;
  }

  article {
    text-align:center;
  }

  #article-right {
   float:right;

   
  }

  .article-card {
    background-color:#fff;
    padding: 3% 20px 1% 20px;
    margin:0px auto;
    width:92%;
    min-height:57vh;
    /* box-shadow:3px 3px 3px 0px rgba(121, 119, 119, 0.75); */
  }

  .container {
    border-bottom:1px solid grey;
    
  }

  .height-container {
    min-height:100vh;
  }

  .height-container2 {
    min-height:77vh;
    min-width: 100vw;
    
    background-color: rgb(81, 108, 148);
  }
 
  footer {
    height:10vh;
    background-color:#212121;
    display: flex;
    align-items: center;
    color:white;
    text-align: center;
    
  }

  footer p {
    text-align:center;
    margin:0 auto;
  }

  

  .icon {
    display:none;
    padding-right:35px;
    font-size:20px;
  }

#logout {
  padding-right:20px;
}

.article-btns {
  background-color:#fff;
  color:black;
  
}

.nav-dark {
  background-color: cornflowerblue !important;
}

#form-container-mobile {
  display:none;
  width:100%;
  justify-content:center;
  flex-flow: row nowrap;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.733);
}

#home-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width:50%;
  max-width:70%;
  max-height:50%;
}

#profile-form {
  display:flex;
  flex-direction:column;
  color:white;
}

#profile-form input {
  text-align:center;
}

#profile-form button {
    border:1px solid white;
    color:white;
    margin-top:10px;
}

#edit-profile2 {
  text-align:center;
  margin:10px auto;
  
}

  @media screen and (max-width: 600px) {
    #form-container {display: none;}
    #form-container-mobile {display:flex; margin-top:30px;};
    .article-img { display:block;text-align:center;float:center;}
    #article-img { margin:0 auto;display:block;}
  }
/* 
  @media screen and (max-width: 600px) {
    .topnav.responsive {display:flex; flex-wrap:wrap; justify-content: space-between;align-items:center;}
    .topnav.responsive a.icon {
     order:1;
      color:black;
    }
    .topnav.responsive li  {
     width:100%;
      display: none;
      text-align: center;
      background-color: black;
    }
  } */




/* Jonathan edits admin */
#admin-queries, #admin-users{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgba(175, 175, 175, 0.219);
  border-radius: 5px;

  flex-wrap: wrap;

  /* background-color: rgba(247, 233, 233, 0.507); */
}

#one-query, #one-user{
  box-shadow: 1px 2px rgba(94, 87, 87, 0.192);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  overflow-wrap: break-word;
  
  margin: 2px;
  width: 100px;
  height: 20px;
  border-radius: 2px;
border: 1px solid rgba(153, 149, 149, 0.068);
/* background-color: rgba(255, 255, 255, 0.253); */
}

#admin-nav{
  width: 100%;
  text-align: center;
  background-color: #656769a6;
  height: 50px;
  margin-bottom: -10px;
}
#admin-nav h2{
  font-size: 1.3em;
}

#admin-favorite{
  /* background-color: rgba(247, 233, 233, 0.507); */
  border-radius: 5px;
  margin: 3px 0;
  font-size: 1em;
  text-align: center;
}
#admin-title{
  text-align: center;
  background-color: black;
  color: white;
  margin: 10px 0;
}
#query-table{
  text-align: center;
  margin: -10px 0;
}
td{
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
  background-color: rgb(168, 161, 161);
}
th{
  font-size: 1em;
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.308);
  background-color: rgb(94, 92, 92);
}