body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color:#fff;
  
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size:1rem;
}

h2 {
  font-size:0.7rem;
}
/* public/stylesheet/style.css */
#form {
  margin: 30px;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 10px;
  
  margin-bottom: 20px;
  border: 2px solid black;
}

button {
  background: cornflowerblue;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  /* display: inline-block; */
  font-size: 14px;
  /* padding: 8px 10px; */
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  text-align: center;

}

button:hover {
  background: #fff;
  color: #7e858a;
  transition: .3s ease background;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 50%;
}
/* #container{
width: 100%;
display: flex;
align-content: center;
justify-content: center;
margin:0 auto;
min-height:100vh;
flex-direction: column;
}

#container a, p{
  display:flex;
  align-items: center;
  margin:10px auto;
} */


.title{
  width: 50%;
  margin: 0 25% auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items:center;
  flex-direction: column;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
    text-align: center;
  }
  .login-title{
    margin: 0 auto;
    text-align: center;
  }
  .signup-form{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
    text-align: center;
  }
  .signup-title{
    margin: 0 auto;
    text-align: center;
  }
  .layout-title{
    width:100%;
    text-align: center;
  }

  nav {
    padding-top:10px;
   margin-bottom:15px;
   background-color:white;
  }

  .navbar {
    padding:1rem;
  }

  /* nav {
    height:15vh;
    background-color:cornflowerblue;
    display: flex;
    align-items: center;
    padding-right:45px;
    justify-content: flex-end;
    position:fixed;
    top:0;
    width:100%;
  }
  
  nav li {
    display: flex;
    flex-direction: row;
    display: inline;
    padding:0px 12px 0px 12px;
  } */

 #logo {
    justify-content: flex-start;
    display:flex;
    padding-left:40px;
  }

  #form-container {
    margin:0 auto;
   width:40%;
   justify-content:center;
   
    /* display: flex;
    justify-content: center;
    margin:40px 80px; */
  }
.form-inline{
  flex-flow:row nowrap;
}

  #search-form {
    display: flex;
    justify-content: center;
    flex-direction:row;
    width:95%;
    text-align:left;
    margin:10px auto;
  }

  #search-form label {
    width:100%;
    align-items: center;
    display: flex;
    text-align:center;
  }

  #search-form input {
    width:100vw;
    margin: 0px 20px 0px 20px;
  }

  .article-img {
    display:inline-block;
    margin:0 auto;
    width: 100%;
    max-height:460px;
    min-height:150px;
    max-width:260px;
    min-width:100px;
  }

  article {
    text-align:center;
  }

  .article-card {
    background-color:#fff;
    padding: 20px 20px 20px 20px;
    margin:0px auto;
    width:90%;
    min-height:39vh;
    /* box-shadow:3px 3px 3px 0px rgba(121, 119, 119, 0.75); */
  }

  .container {
    border-bottom:1px solid grey;
  }

 
  footer {
    height:10vh;
    background-color:#212121;
    display: flex;
    align-items: center;
    color:white;
    text-align: center;
    
  }

  footer p {
    text-align:center;
    margin:0 auto;
  }

  

  .icon {
    display:none;
    padding-right:35px;
    font-size:20px;
  }

#logout {
  padding-right:20px;
}

.article-btns {
  background-color:#fff;
  color:black;
  max-height:30px;
}



/* 
  @media screen and (max-width: 600px) {
    nav li{display: none;}
    nav .icon {display:block;}
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {display:flex; flex-wrap:wrap; justify-content: space-between;align-items:center;}
    .topnav.responsive a.icon {
     order:1;
      color:black;
    }
    .topnav.responsive li  {
     width:100%;
      display: none;
      text-align: center;
      background-color: black;
    }
  } */










/* Jonathan edits admin */
#admin-queries{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
}

#one-query{
border: 1px solid black;
}