<div id="containers" class="height-container"> 

  <form class="login-form" action='/auth/signup' method='POST'>

    <label for=''>Username</label>
    <input type='text' name='username'>

    <label for=''>Password</label>
    <input type='password' name='password'>

    <button type='submit'>Sign Up</button>

     <p class="account-message">
      Have an account? <a href="/login">Log In</a>
    </p>
  </form>
</div>
{{!-- error message display --}} 

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}